<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
  {{ block "css" . }}{{ end }}
</head>
<body class="bg-gray-100 text-gray-900 dark:bg-gray-800 dark:text-white">
  {{ partial "header.html" . }}

  <main class="py-16">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  {{ block "scripts" . }}
  <script src="{{ "js/dark-mode-toggle.js" | relURL }}"></script>
  {{ end }}
</body>
</html>
